$color-primary-very-dark-blue: hsl(243, 87%, 12%);
$color-primary-desaturated-blue: hsl(238, 22%, 44%);

$color-accent-bright-blue: hsl(224, 93%, 58%);
$color-accent-moderate-cyan: hsl(170, 45%, 43%);
$color-accent-red: hsl(343, 84%, 61%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-light-grayish-blue: hsl(240, 56%, 98%);
$color-neutral-light-gray: hsl(0, 0%, 75%);

$font-weight-normal: 400;
$font-weight-bold: 700;

$heading-font-family: "Raleway", sans-serif;
$header-xl-font-size: 4rem;
$header-xl-line-height: 6rem;

$body-font-family: "Open Sans", sans-serif;
$body-font-size: 1.6rem;
$body-line-height: 2.4rem;

$desktop: 1280px;
$mobile: 375px;

$mobile: 939px;
